<div class="alert alert-info" style="text-align: center; background-color: #5cb85c; border-color: #5cb85c;">Заявки на бронирование отеля</div>
<div class="card">
  <div *ngIf="orders.length === 0;" class="card-block">
    <div class="row text-center">Нет заявок на бронирование</div>
  </div>
  <div *ngIf="orders.length !== 0;" class="card-block">
    <ul class="list-group list-group-flush">
      <li *ngFor="let order of showOrders" [ngClass]=" order.status === 'Обработана' ? 'list-group-item list-group-item-success' : 'list-group-item list-group-item-warning'">
        <div class="container-fluid">
          <div class="col-md-2 pull-left"><strong>Название отеля:</strong> {{ order.hotel.name }}</div>
          <div class="col-md-2 pull-left"><strong>Город:</strong> {{ order.city }}</div>
          <div class="col-md-2 pull-left"><strong>Статус:</strong> {{ order.status }}</div>
          <div class="col-md-6">
            <button *ngIf="!order.isShownAdditionalInformation" class="btn btn-success-outline pull-right"
                    (click)="order.isShownAdditionalInformation = !order.isShownAdditionalInformation">Подробнее
            </button>
            <button *ngIf="order.isShownAdditionalInformation" class="btn btn-success-outline pull-right"
                    (click)="order.isShownAdditionalInformation = !order.isShownAdditionalInformation">Скрыть
            </button>
          </div>

          <hr class="jumbotron-hr">

          <div *ngIf="order.isShownAdditionalInformation">
            <div class="col-md-2 pull-left"><strong>Дата заезда:</strong> {{order.startDate}}</div>
            <div class="col-md-2 pull-left"><strong>Дата выезда:</strong> {{order.endDate}}</div>
            <div class="col-md-2 pull-left"><strong>Количество человек:</strong> {{order.countOfMan}}</div>
            <div class="col-md-2 pull-left"><strong>Тип номера:</strong>
              {{order.orderSuggestion.typeRoom.typeRoomName}}
            </div>
            <div class="col-md-2 pull-left"><strong>Стоимость за день:</strong> {{order.orderSuggestion.priceForDay | currency: 'BYN'}}
            </div>
            <div class="col-md-2 pull-left"><strong>Общая стоимость:</strong> {{order.orderSuggestion.fullPrice| currency: 'BYN'}}
            </div>
          </div>

        </div>
      </li>
    </ul>

    <nav *ngIf="orders.length !== 0;" aria-label="Page navigation example" class="text-center">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" [ngClass]="{'noclick': startIndex === 0}" (click)="minPage()">Предыдущая</a>
        </li>
        <li class="page-item">
          <a class="page-link" [ngClass]="{'noclick': endIndex === orders.length}" (click)="plusPage()">Следующая</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
