<div
     *ngIf="isShowMessageAboutEditBlock"
     #showMessageAboutEditBlock
     class="alert alert-success"
     style="text-align: center;"
    >Изменения сохранены</div>
<div class="alert alert-info" style="text-align: center;">Список отелей в системе</div>
<section class="section">
  <div class="card">

    <div *ngIf="hotels.length !== 0;" class="card-block">

      <div class="row">
        <div class="card">
          <div class="card-header bordered">
            <div class="form-inline pull-right m-r-2">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  [placeholder]="searchPlaceholder"
                  [(ngModel)]="searchValue"
                >
              </div>

              <div class="btn-group" wfmDropdown>
                <button
                  type="button"
                  class="btn btn-secondary dropdown-toggle">
                  Параметр
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" (click)="changeCriteria('name')">Название</a>
                  <a class="dropdown-item" (click)="changeCriteria('city')">Город</a>
                  <a class="dropdown-item" (click)="changeCriteria('address')">Адрес</a>
                  <a class="dropdown-item" (click)="changeCriteria('countOfStars')">Количество звёзд</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="panel-group container-fluid">
          <div class="row text-center panel panel-default">
            <div class="text-center col-md-3"><strong>Фотография</strong></div>
            <div class="text-center col-md-1"><strong>Название</strong></div>
            <div class="text-center col-md-1"><strong>Город</strong></div>
            <div class="text-center col-md-1"><strong>Адрес</strong></div>
            <div class="text-center col-md-1"><strong>Количество звёзд</strong></div>
            <div class="text-center col-md-3"><strong>Описание</strong></div>
            <div class="text-center col-md-1"><strong>Описание номеров</strong><br><strong>Прайс</strong></div>
            <div class="text-center col-md-1"><strong>Действие</strong></div>
          </div>
        </div>
      </div>

      <div *ngFor="let hotel of showHotels | wfmFilter: searchValue:searchField">
        <hr>

        <div class="row">
          <div class="text-center col-md-3">
            <wfm-hotel-photo [fileUpload]='hotel.photoName'></wfm-hotel-photo>
          </div>
          <div class="text-center col-md-1">{{ hotel.name }}</div>
          <div class="text-center col-md-1">{{ hotel.city }}</div>
          <div class="text-center col-md-1">{{ hotel.address }}</div>
          <div class="text-center col-md-1">{{ hotel.countOfStars }}</div>
          <div class="text-center col-md-3">{{ hotel.description }}</div>
          <div class="col-md-1 text-center">
            <button type="button" [disabled]="hotel.isRoomButtonDisabled"
                    (click)="hotel.isShownRooms = !hotel.isShownRooms; hotel.isDeleteHotelButtonDisabled = !hotel.isDeleteHotelButtonDisabled; hotel.isEditHotelButtonDisabled = !hotel.isEditHotelButtonDisabled"
                    class="btn btn-default btn"><i class="glyphicon glyphicon-align-justify"></i></button>
          </div>
          <div class="text-center col-md-1">
            <div class="btn-group">
              <button type="button"
                      [disabled]="hotel.isEditHotelButtonDisabled"
                      (click)="hotel.isShownAddInformation = !hotel.isShownAddInformation; hotel.isRoomButtonDisabled = !hotel.isRoomButtonDisabled; hotel.isDeleteHotelButtonDisabled = !hotel.isDeleteHotelButtonDisabled"
                      class="btn btn-default btn"><i class="glyphicon glyphicon-pencil"></i></button>
              <button type="button" [disabled]="hotel.isDeleteHotelButtonDisabled" (click)="deleteHotel(hotel)"
                      class="btn btn-default btn"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="hotel.isShownAddInformation">
          <hr>
          <div class="col-md-3">
            <label class="btn btn-default"><input type="file" (change)="selectFile($event)"></label>
            <button
              class="btn btn-default"
              [disabled]="!selectedFiles"
              (click)="upload()"
            ><i class="glyphicon glyphicon-save"></i></button>
          </div>
          <div class="col-md-1"><input class="form-control text-center" [(ngModel)]="hotel.name" type="text"></div>
          <div class="col-md-1"><input class="form-control text-center" [(ngModel)]="hotel.city" type="text"></div>
          <div class="col-md-1"><input class="form-control text-center" [(ngModel)]="hotel.address" type="text"></div>
          <div class="col-md-1"><input class="form-control text-center"
                                       [(ngModel)]="hotel.countOfStars"
                                       type="number"
                                       min="0"
                                       max="5"
                                ></div>
          <div class="col-md-4"><textarea class="form-control" [(ngModel)]="hotel.description"></textarea>
          </div>
          <div class="text-center col-md-1">
            <button type="button" class="btn btn-default" (click)="updateHotel(hotel)"><i class="glyphicon glyphicon-floppy-disk"></i></button>
          </div>
        </div>

        <div *ngIf="hotel.isShownRooms">
          <hr>
          <div class="text-center"><h4>Описание номеров отеля</h4></div><br>
          <table class="table table-flip-scroll table-bordered table-hover">
            <thead>
            <tr>
              <th class="text-center">Категория номера</th>
              <th class="text-center">Тип кроватей</th>
              <th class="text-center">Детская кровать</th>
              <th class="text-center">Мини-бар</th>
              <th class="text-center">Телевизор</th>
              <th class="text-center">Балкон</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let room of hotel.rooms">
              <td class="text-center">
                {{room.typeRoomName}}
              </td>
              <td class="text-center">
                {{room.typeOfMainBed}}
              </td>
              <td class="text-center" >
                <label class="checkbox-inline checbox-switch switch-success">
                  <input
                    disabled
                    #addHotelPageChildBed
                    type="checkbox"
                    name="addHotelPageChildBed"
                    [(checked)]="room.existChildBed"
                  />
                  <span></span>
                </label>
              </td>
              <td class="text-center">
                <label class="checkbox-inline checbox-switch switch-success">
                  <input
                    disabled
                    #addHotelPageBar
                    type="checkbox"
                    name="addHotelPageBar"
                    [(checked)]="room.existBar"
                  />
                  <span></span>
                </label>
              </td>
              <td class="text-center">
                <label class="checkbox-inline checbox-switch switch-success">
                  <input
                    disabled
                    #addHotelPageTV
                    type="checkbox"
                    name="addHotelPageTV"
                    [(checked)]="room.existTV"
                  />
                  <span></span>
                </label>
              </td>
              <td class="text-center">
                <label class="checkbox-inline checbox-switch switch-success">
                  <input
                    disabled
                    #addHotelPageBalkony
                    type="checkbox"
                    name="addHotelPageBalkony"
                    [(checked)]="room.existBalcony"
                  />
                  <span></span>
                </label>
              </td>
            </tr>
            <tr *ngIf="hotel.rooms.length === 0;" class="text-center">
              <td colspan="7" style="background: #40b726; color: white">Список типов номеров отеля пуст</td>
            </tr>
            </tbody>
          </table>
          <hr>
          <div class="row">
            <div class="text-center"><h4>Прайс отеля</h4></div><br>
          </div>
          <div class="row">
            <div *ngFor="let nameService of hotel.servicesPrices" class="col-md-1 text-center">
              {{nameService.service}}
            </div>
          </div>
          <div class="row">
            <div *ngFor="let nameServicePrice of hotel.servicesPrices" class="col-md-1 text-center">
              {{nameServicePrice.price}}
            </div>
          </div>
        </div>

      </div>

      <nav *ngIf="hotels.length !== 0" aria-label="Page navigation example" class="text-center">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" [ngClass]="{'noclick': startIndex === 0}" (click)="minPage()">Предыдущая</a>
          </li>
          <li class="page-item">
            <a class="page-link" [ngClass]="{'noclick': endIndex === hotels.length}" (click)="plusPage()">Следующая</a>
          </li>
        </ul>
      </nav>

    </div>

    <div *ngIf="hotels.length === 0;" class="card-block">
      <div class="row text-center">Нет отелей в системе</div>
    </div>

  </div>
</section>




