<header class="header">
  <div class="header-block header-block-search">
    {{date | date: 'dd.MM.yyyy'}}
  </div>
  <div class="header-block header-block-nav">
    <ul class="nav-profile">
      <li class="profile dropdown" wfmDropdown>
        <a class="nav-link dropdown-toggle" role="button">
          <span class="name">
              Здравствуйте, {{user.name}}
          </span>
        </a>
        <div class="dropdown-menu profile-dropdown-menu">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-spin fa-cog"></i> Управление аккаунтом</a>
          <a class="dropdown-item" (click)="onLogout()">
            <i class="fa fa-power-off icon"></i>Выйти
          </a>
        </div>
      </li>
    </ul>
  </div>
</header>

<!-- Modal -->
<div class="modal fade" #exampleModalCenter id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Управление учетной записью</h5>
        <h5 style="color: white" *ngIf="showInfo">{{text}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 control-label">
            Новый пароль
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" #newPassword required>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 control-label">
            Текущий email
          </div>
          <div class="col-md-6">
            {{user.email}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6 control-label">
            Новый email
          </div>
          <div class="col-md-6">
            <input type="email" class="form-control" #newEmail minlength="6" required>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveAccountCahnges(exampleModalCenter);">Сохранить изменения</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
