<div class="card">
  <div class="card-block">
    <div class="title-block">
      <h4 class="title">Информация об отеле</h4>
    </div>
    <div class="row row-sm stats-container">
      <table class="table table-hover">
        <tbody>
        <tr>
          <td><label class="control-label" for="nameInput">Название</label></td>
          <td>
            <input #nameInput name="nameInput" id="nameInput" placeholder="Введите название" class="form-control" required>
          </td>
        <tr>
          <td><label class="control-label" for="cityInput">Город</label></td>
          <td>
            <input #cityInput name="cityInput" id="cityInput" placeholder="Введите город" class="form-control">
          </td>
        </tr>
        <tr>
          <td><label class="control-label" for="addressInput">Адрес</label></td>
          <td>
            <input #addressInput name="addressInput" id="addressInput" placeholder="Введите адрес" class="form-control">
          </td>
        </tr>
        <tr>
          <td><label class="control-label" for="countOfStarsInput">Количество звёзд</label></td>
          <td>
            <input #countOfStarsInput name="countOfStarsInput" id="countOfStarsInput" placeholder="Введите количество звёзд" class="form-control">
          </td>
        </tr>
        <tr>
          <td><label for="descriptionInput">Описание отеля</label></td>
          <td>
            <input #descriptionInput name="descriptionInput" id="descriptionInput" placeholder="Введите описание" class="form-control">
          </td>
        </tr>
      </table>
      <button class="btn btn-success" (click)="addMainInformation()">Добавить клавную информацию</button>
    </div>
  </div>
</div>
