<section class="section">

  <div *ngIf="!isMainInformationAdded && !isLatestPage" class="col col-xs-12 col-sm-12 col-md-12 col-xl-7 history-col">
    <wfm-main-information-card (onAddPhoto)="updatePhotoName($event)" (onAddMainInformation)="updateMainInformation($event)"></wfm-main-information-card>
  </div>

  <div *ngIf="isLatestPage" class="alert alert-info" style="text-align: center;">Данный отель будет добавлен в систему</div>
  <div *ngIf="isLatestPage" class="col col-xs-12 col-sm-12 col-md-12 col-xl-7 history-col">

    <div class="card">
      <div class="card-block">

      <div class="row text-center">
        Основная информация об отеле
      </div>

      <hr>
      <!-- CONTENT-->
      <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <div><label class="control-label" for="addPage-nameInput">Название</label></div>
                <div>
                  <input
                    #addPagenameInput
                    disabled
                    name="addPage-nameInput"
                    id="addPage-nameInput"
                    class="form-control"
                    [value]="name"
                  >
                </div>
              </div>

              <div class="col-md-6">
                <div><label class="control-label" for="addPage-cityInput">Город</label></div>
                <div>
                  <input
                    #addPagecityInput
                    disabled
                    name="addPage-cityInput"
                    id="addPage-cityInput"
                    class="form-control"
                    [value]="city"
                  >
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div><label class="control-label" for="addPage-addressInput">Адрес</label></div>
                <div>
                  <input
                    #addPageaddressInput
                    disabled
                    name="addPage-addressInput"
                    id="addPage-addressInput"
                    class="form-control"
                    [value]="address"
                  >
                </div>
              </div>

              <div class="col-md-6">
                <div><label class="control-label" for="addPage-countOfStarsInput">Количество звёзд</label></div>
                <div>
                  <input
                    #addPagecountOfStarsInput
                    disabled
                    name="addPage-countOfStarsInput"
                    id="addPage-countOfStarsInput"
                    class="form-control"
                    [value]="countOfStars"
                  >
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div><label class="control-label" for="addPage-descriptionInput">Описание отеля</label></div>
                <div>
                    <textarea
                      #addPagedescriptionInput
                      disabled
                      rows="8"
                      name="addPage-descriptionInput"
                      id="addPage-descriptionInput"
                      class="form-control">{{description}}</textarea>
                </div>
              </div>

              <div class="col-md-6">
                <div><label class="control-label" for="uploadPhotoCheckbox">Фотография отеля</label></div>
                <div>
                  <div class="form-group">
                    <label class="checkbox-inline checbox-switch switch-success">
                      <input
                        #uploadPhotoCheckbox
                        type="checkbox"
                        name="uploadPhotoCheckbox"
                        id="uploadPhotoCheckbox"
                        [checked]="isPhotoLoaded"
                        disabled
                      />
                      <span></span>
                      Загружена
                    </label>
                  </div>
                </div>
              </div>
            </div>
        </div>

      <hr>

      <div class="card-block">
        <div style="text-align: center;" class="title-block">
          <span>Номера отеля</span>
        </div>
        <hr>
        <table *ngIf="isMainInformationAdded"  class="table table-flip-scroll table-bordered table-hover">
          <thead>
          <tr>
            <th>Категория номера</th>
            <th>Тип кроватей</th>
            <th>Детская кровать</th>
            <th>Мини-бар</th>
            <th>Телевизор</th>
            <th>Балкон</th>
            <th>Действие</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let room of rooms">
            <td>
              {{room.typeRoomName}}
            </td>
            <td>
              {{room.typeOfMainBed}}
            </td>
            <td>
              <label class="checkbox-inline checbox-switch switch-success">
                <input
                  disabled
                  #addHotelPageChildBed
                  type="checkbox"
                  name="addHotelPageChildBed"
                  [(checked)]="room.existChildBed"
                />
                <span></span>
              </label>
            </td>
            <td>
              <label class="checkbox-inline checbox-switch switch-success">
                <input
                  disabled
                  #addHotelPageBar
                  type="checkbox"
                  name="addHotelPageBar"
                  [(checked)]="room.existBar"
                />
                <span></span>
              </label>
            </td>
            <td>
              <label class="checkbox-inline checbox-switch switch-success">
                <input
                  disabled
                  #addHotelPageTV
                  type="checkbox"
                  name="addHotelPageTV"
                  [(checked)]="room.existTV"
                />
                <span></span>
              </label>
            </td>
            <td>
              <label class="checkbox-inline checbox-switch switch-success">
                <input
                  disabled
                  #addHotelPageBalkony
                  type="checkbox"
                  name="addHotelPageBalkony"
                  [(checked)]="room.existBalcony"
                />
                <span></span>
              </label>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="deleteRoom(room)">Удалить</button>
            </td>
          </tr>
          <tr *ngIf="!isRoomsAdded" class="text-center">
            <td colspan="7" style="background: #40b726; color: white">Список типов номеров отеля пуст</td>
          </tr>
          </tbody>
        </table>
      </div>

         <hr>

        <div class="row">

            <button
              id="addHotelButton"
              class="btn btn-success pull-right"
              (click)="addHotel()"
            >Добавить отель в систему</button>

      </div>
      <!-- CONTENT-->
      </div>
    </div>

  </div>

  <div *ngIf="isMainInformationAdded && !isShowPricePage" class="col col-xs-12 col-sm-12 col-md-12 col-xl-7 history-col">
    <div *ngIf="!isLatestPage && !isShowPricePage" #addRoomInformationMessageBlock class="alert alert-info" style="text-align: center;">Заполните информацию о номерах отеля</div>
    <wfm-room-information-card *ngIf="!isLatestPage && !isShowPricePage" (onAddRoom)="updateRoomList($event)" (onShowPricePage)="showPricePage($event)"></wfm-room-information-card>
  </div>

  <div *ngIf="isMainInformationAdded && !isShowPricePage" class="col col-xs-12 col-sm-12 col-md-12 col-xl-7 history-col">
    <div *ngIf="isMainInformationAdded && !isShowPricePage" class="card">
      <div *ngIf="isMainInformationAdded && !isShowPricePage" class="card-block">
        <div style="text-align: center;" class="title-block">
          <span>Номера отеля</span>
        </div>
        <hr>
        <table *ngIf="isMainInformationAdded"  class="table table-flip-scroll table-bordered table-hover">
        <thead>
        <tr>
          <th>Категория номера</th>
          <th>Тип кроватей</th>
          <th>Детская кровать</th>
          <th>Мини-бар</th>
          <th>Телевизор</th>
          <th>Балкон</th>
          <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let room of rooms">
          <td>
            {{room.typeRoomName}}
          </td>
          <td>
            {{room.typeOfMainBed}}
          </td>
          <td>
            <label class="checkbox-inline checbox-switch switch-success">
              <input
                disabled
                #addHotelPageChildBed
                type="checkbox"
                name="addHotelPageChildBed"
                id="addHotelPageChildBed"
                [(checked)]="room.existChildBed"
              />
              <span></span>
            </label>
          </td>
          <td>
            <label class="checkbox-inline checbox-switch switch-success">
              <input
                disabled
                #addHotelPageBar
                type="checkbox"
                name="addHotelPageBar"
                id="addHotelPageBar"
                [(checked)]="room.existBar"
              />
              <span></span>
            </label>
          </td>
          <td>
            <label class="checkbox-inline checbox-switch switch-success">
              <input
                disabled
                #addHotelPageTV
                type="checkbox"
                name="addHotelPageTV"
                id="addHotelPageTV"
                [(checked)]="room.existTV"
              />
              <span></span>
            </label>
          </td>
          <td>
            <label class="checkbox-inline checbox-switch switch-success">
              <input
                disabled
                #addHotelPageBalkony
                type="checkbox"
                name="addHotelPageBalkony"
                id="addHotelPageBalkony"
                [(checked)]="room.existBalcony"
              />
              <span></span>
            </label>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="deleteRoom(room)">Удалить</button>
          </td>
        </tr>
        <tr *ngIf="!isRoomsAdded" class="text-center">
          <td colspan="7" style="background: #40b726; color: white">Список типов номеров отеля пуст</td>
        </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>

  <div *ngIf="isShowPricePage && !isLatestPage" class="col col-xs-12 col-sm-12 col-md-12 col-xl-7 history-col">
    <wfm-price-imformation-card [rooms]="rooms" (onAddServicePrice)="updateSericePrice($event)"></wfm-price-imformation-card>
  </div>

</section>
