<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <div class="brand">
        <div class="logo">
          <span class="l l1"></span>
          <span class="l l2"></span>
          <span class="l l3"></span>
          <span class="l l4"></span>
          <span class="l l5"></span>
        </div>
        ArtHotelSystem
      </div>
    </div>
    <nav class="menu">
      <ul class="nav metismenu">
        <li routerLinkActive="active">
          <a [routerLink]="['/system-user', 'find-hotel']"> <i class="fa fa-lock"></i>Бронирование отеля</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/system-user', 'orders']"> <i class="fa fa-lock"></i>Мои заказы</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/system-user', 'price-for-room']"> <i class="fa fa-lock"></i>Определение стоимости номера</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
