<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <div class="brand">
        <div class="logo">
          <span class="l l1"></span>
          <span class="l l2"></span>
          <span class="l l3"></span>
          <span class="l l4"></span>
          <span class="l l5"></span>
        </div>
        ArtHotelSystem
      </div>
    </div>
    <nav class="menu">
      <ul class="nav metismenu">
        <li routerLinkActive="active">
          <a [routerLink]="['/system-user', 'find-hotel']"> <i class="fa fa-lock"></i>Бронирование отеля</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/system-user', 'orders']"> <i class="fa fa-list"></i>Мои заявки</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/system-user', 'price-for-room']"> <i class="fa fa-pie-chart"></i>Определение стоимости номера</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/system-user', 'tickets']"> <i class="fa fa-ticket"></i>Заказать билет</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/system-user', 'my-tickets']"> <i class="fa fa-list-ul"></i>Мои билеты</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/system-user', 'reviews']"> <i class="fa fa-pencil"></i>Добавить отзыв об отеле</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/system-user', 'hotels-reviews']"> <i class="fa fa-thumbs-o-down"></i><i class="fa fa-thumbs-o-up"></i>Отзывы об отелях</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/system-user', 'my-reviews']"> <i class="fa fa-list"></i>Мои отзывы</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/system-user', 'education']"> <i class="fa fa-list"></i>Education page</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
