<div class="title-block">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Город</th>
      <th>Дата заезда</th>
      <th>Дата выезда</th>
      <th>Количество <br> взрослых</th>
      <th>Количество <br> детей</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
        <input class="form-control" type="text">
      </td>
      <td>
        <input class="form-control" type="date">
      </td>
      <td>
        <input class="form-control" type="date">
      </td>
      <td>
        <div class="form-control input-sm center merge-bottom-input" name="second">0</div>

        <div class="btn-group btn-block" role="group" aria-label="plus-minus">
          <button type="button" class="btn btn-sm btn-danger minus-button merge-top-left-button" disabled="disabled"><span class="glyphicon glyphicon-minus"></span></button>
          <button type="button" class="btn btn-sm btn-success plus-button merge-top-right-button"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
      </td>
      <td>
        <div class="form-control input-sm center merge-bottom-input" name="second">0</div>

        <div class="btn-group btn-block" role="group" aria-label="plus-minus">
          <button type="button" class="btn btn-sm btn-danger minus-button merge-top-left-button" disabled="disabled"><span class="glyphicon glyphicon-minus"></span></button>
          <button type="button" class="btn btn-sm btn-success plus-button merge-top-right-button"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
      </td>
      <td>
        <button type="button" class="btn btn-info btn-lg">Найти</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<section class="section">

</section>
