<div class="card">
  <div class="card-block">
    <div class="title-block">
      <h4 class="title">Информация о номерах в отеле</h4>
    </div>
    <div class="row row-sm stats-container">
      <table class="table table-hover">
        <tbody>
        <tr>
          <td><label class="control-label" for="countOfBedInput">Количество кроватей в номере</label></td>
          <td>
            <input type="number" name="countOfBedInput" id="countOfBedInput" placeholder="Введите число" class="form-control" required>
          </td>
        <tr>
          <td><label class="control-label" for="typeOfBedInput">Количество мест на кровате</label></td>
          <td>
            <input type="number" name="typeOfBedInput" id="typeOfBedInput" placeholder="Введите число" class="form-control">
          </td>
        </tr>
        <tr>
          <td><label class="control-label" for="countOfChildBedInput">Количество дополнительных детских кроватей</label></td>
          <td>
            <input type="number" name="countOfChildBedInput" id="countOfChildBedInput" placeholder="Введите число" class="form-control">
          </td>
        </tr>
        <tr>
          <td><label class="control-label" for="priceForChildBed">Стоимость одной дополнительной детской кровати</label></td>
          <td>
            <input type="number" name="priceForChildBed" id="priceForChildBed" placeholder="Введите число" class="form-control">
          </td>
        </tr>
        <tr>
          <td><label for="price">Стоимость номера в сутки</label></td>
          <td>
            <input type="number" name="price" id="price" placeholder="Введите число" class="form-control">
          </td>
        </tr>
        <tr>
          <td><label class="control-label">Добавить к номерам отеля</label></td>
          <td>
            <button class="btn btn-success">Добавить</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
