<div #addMainInformationMessageBlockError *ngIf="isShowErorBlock" class="alert alert-danger" style="text-align: center;">Загрузите фотографию</div>
<div #addMainInformationMessageBlock class="alert alert-info" style="text-align: center;">Заполните основную информацию об отеле</div>
<div class="card">
  <div class="card-block">

    <div style="text-align: center;" class="title-block">
      <span>Форма основной информации об отеле</span>
    </div>

    <hr>

    <div class="row row-sm stats-container">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="container-fluid">

            <div class="row">
              <div
                class="form-group"
                [ngClass]="{'has-error': nameInput.invalid && nameInput.touched}">
              </div>
              <div class="col-md-6">
                <div><label class="control-label" for="nameInput">Название</label></div>
                <div>
                  <input
                    type="text"
                    name="nameInput"
                    id="nameInput"
                    placeholder="Введите название отеля"
                    class="form-control"
                    required
                    ngModel
                    #nameInput="ngModel"
                    >
                </div>
              </div>

              <div
                class="form-group"
                [ngClass]="{'has-error': cityInput.invalid && cityInput.touched}">
              </div>
              <div class="col-md-6">
                <div><label class="control-label" for="cityInput">Город</label></div>
                <div>
                  <input
                    type="text"
                    name="cityInput"
                    id="cityInput"
                    placeholder="Введите город"
                    class="form-control"
                    required
                    ngModel
                    #cityInput="ngModel"
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div
                *ngIf="nameInput.invalid && nameInput.touched"
                class="text-center form-help-text col-md-6 pull-left"
                style="background: #c40000; color: white">
                Название отеля не может быть пустым
              </div>
              <div
                *ngIf="cityInput.invalid && cityInput.touched"
                class="text-center form-help-text col-md-6 pull-right"
                style="background: #c40000; color: white">
                Город не может быть пустым
              </div>
            </div>

          <div class="row">
            <div
              class="form-group"
              [ngClass]="{'has-error': addressInput.invalid && addressInput.touched}">
            </div>
            <div class="col-md-6">
              <div><label class="control-label" for="addressInput">Адрес</label></div>
              <div>
                <input
                  type="text"
                  name="addressInput"
                  id="addressInput"
                  placeholder="Введите адрес"
                  class="form-control"
                  required
                  ngModel
                  #addressInput="ngModel"
                >
              </div>
            </div>

            <div
              class="form-group"
              [ngClass]="{'has-error': countOfStarsInput.invalid && countOfStarsInput.touched}">
            </div>
            <div class="col-md-6">
              <div><label class="control-label" for="countOfStarsInput">Количество звёзд</label></div>
              <div>
                <input
                  min="1"
                  max="5"
                  type="number"
                  name="countOfStarsInput"
                  id="countOfStarsInput"
                  placeholder="Введите количество звёзд"
                  class="form-control"
                  required
                  ngModel
                  #countOfStarsInput="ngModel"
                >
              </div>
            </div>
          </div>

          <div class="row">
            <div
              *ngIf="addressInput.invalid && addressInput.touched"
              class="text-center form-help-text col-md-6 pull-left"
              style="background: #c40000; color: white">
              Адрес не может быть пустым
            </div>
            <div
              *ngIf="countOfStarsInput.invalid && countOfStarsInput.touched"
              class="text-center form-help-text col-md-6 pull-right"
              style="background: #c40000; color: white">
              Количество звёзд не может быть пустым
            </div>
          </div>

          <div class="row">
            <div
              class="form-group"
              [ngClass]="{'has-error': descriptionInput.invalid && descriptionInput.touched}">
            </div>
            <div class="col-md-6">
              <div><label class="control-label" for="descriptionInput">Описание отеля</label></div>
              <div>
                <textarea
                  name="descriptionInput"
                  id="descriptionInput"
                  rows="8"
                  placeholder="Введите описание"
                  class="form-control"
                  required
                  ngModel
                  #descriptionInput="ngModel"
                ></textarea>
              </div>
            </div>

            <div class="col-md-6">
              <div><label class="control-label" for="loadPhotoButton">Загрузить фотографию</label></div>
              <div>
                <div *ngIf="currentFileUpload" class="progress">
                  <div class="progress-bar progress-bar-info progress-bar-striped"
                       role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                       aria-valuemin="0" aria-valuemax="100"
                       [ngStyle]="{width:progress.percentage+'%'}">
                    {{progress.percentage}}%</div>
                </div>
                <label class="btn btn-default"><input type="file" (change)="selectFile($event)"></label>
              </div>
              <div>
                <button
                  class="btn btn-success"
                  [disabled]="!selectedFiles"
                  (click)="upload()"
                  id="loadPhotoButton"
                >Загрузить фотографию</button>
              </div>
            </div>
          </div>

          <div class="row">
             <div
               *ngIf="descriptionInput.invalid && descriptionInput.touched"
               class="text-center form-help-text col-md-6 pull-left"
               style="background: #c40000; color: white">Описание отеля не может быть пустым
             </div>
           </div>

          <hr>

          <div>
            <button
              type="submit"
              id="addMainInformationButton"
              class="btn btn-success pull-right"
              [disabled]="!f.valid"
            >Далее</button>
          </div>

          </div>
      </form>
    </div>

  </div>
</div>
